[submodule "Libs/CustomSearch-1.0"]
	path = Libs/CustomSearch-1.0
	url = https://github.com/Jaliborc/CustomSearch-1.0.git
[submodule "Libs/Unfit-1.0"]
	path = Libs/Unfit-1.0
	url = https://github.com/Jaliborc/Unfit-1.0.git
[submodule "Libs/ItemSearch-1.3"]
	path = Libs/ItemSearch-1.3
	url = https://github.com/Jaliborc/ItemSearch-1.3.git
